.menu_fixed {
  width: 100%;
  height: 70px;
  background-color: rgb(0, 0, 119);
  color: white;
}

.menu_{
    margin-left: 10px;
}
.logo{
    margin-top: 2%;
}
.menu {
  text-align: right;
  margin-top: 2%;
}

.big-header {
  width: 100%;
  height: 450px;
  background-color: rgb(0, 212, 149);
  padding-top: 5%;
  position: relative;
  
}


.img_avatar{
    height: 250px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}
.under-avatar{
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 500px;
    height: 190px;
    position: relative;
}
.under-avatar h1{
    color: white;
    font-size: 50px;
}

.white-line{
    height: 3px;
    width: 130px;
    background-color: white;
    display: inline-block;
    margin-left: 15%;
    
}
.fas{
    position: absolute;
    top: 60px;
    left: 230px;
    display: inline-block;
    color: white;
    font-size: 30px;
}
.cont-star{
    margin-left: -20%;
}
.jobs{
  color: white;
  font-size: 20px;
  margin-top: 5%;
}
#portfolio {
  height: 750px;
}

.portfolio,
.about,
.contact_me {
  text-align: center;
  padding-top: 3%;
  
}
.portfolio{
  margin-top: 30px;
  width: 100%;
  height: 150px;
  position: relative;
}
.titolo{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 500px;
    height: 100px;
    position: relative;
}
.titolo h2{
    color: black;
    font-size: 40px;
}
.cont-star-black{
    margin-left: -20%;
}
.black-line{
    height: 3px;
    width: 130px;
    background-color: black;
    display: inline-block;
    margin-left: 15%;
    margin-top: 20px;
}
.fas-black{
    color: black;
}


.quadrato {
  width: 98%;
  background-color: lightgray;
  height: 250px;
  margin-bottom: 20px;
  margin-top: 2%;
  border-radius: 15px;
}

.cabin img,
.cake img,
.circus img,
.game img,
.safe img,
.submarine img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

#about {
  height: 350px;
  
}
.about{
    position: relative;
    height: 400px;
    background-color: rgb(0, 212, 149);
}

#bianco{
    color: white;
    font-size: 40px;
}
.about-text{
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 3%;
}

.btn-download{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 30px;
    background-color: rgb(0, 212, 149);
    border-radius: 5px;
    border: white solid 1px;
    cursor: pointer;
    color: white;
    padding-top: 0.3%;
    

}
.contact-me{
    margin-top: 30px;
    width: 100%;
    height: 150px;
    position: relative;
  }
  .titolo-contact{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 500px;
    height: 100px;
    position: relative;
}
.titolo-contact h2{
    color: black;
    
}
.fas-black-contact{
    color: black;
    margin-top: -10px;
}

.form {
  margin-left: 20%;
  width: 70%;
  height: 200px;
  
}
.testo{
    display: block;
    width: 90%;
    margin-top: 2%;
    border: none;
    border-bottom: solid black 1px;
}
.area{
    height: 70px;
}

.btn{
    color: white;
    padding-top: 5px;
    margin-top: 5px;
    background-color: rgb(0, 212, 149);
}
.quadrato-footer {
    
    height: 200px;
    margin-bottom: 20px;
    margin-top: 2%;
    border-radius: 15px;
    color: white;
    text-align: center;
    padding-top: 4%;
  }
  
  .icona{
      text-align: center;
      border: solid 1px white;
      border-radius: 50%;
      padding: 3%;
      margin-left: 10px;
      
  }

.section_footer_one {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 119);
}
.section_footer_two {
  color: white;
  width: 100%;
  height: 60px;
  background-color: rgb(0, 0, 209);
  text-align: center;
  line-height: 50px;
}
