.menu_fixed {
  width: 100%;
  height: 70px;
  background-color: rgb(0, 0, 119);
  color: white;
}
.menu {
  text-align: right;
}

.big-header {
  width: 100%;
  height: 400px;
  background-color: rgb(0, 212, 149);
  padding-top: 5%;
}
.jumbotron_ {
  width: 30%;
  height: 250px;
  background-color: bisque;
  margin-left: 35%;
}
#portfolio {
  height: 500px;
}
.portfolio,
.about,
.contact_me {
  text-align: center;
  padding-top: 3%;
}
.quadrato {
  width: 100%;
  background-color: brown;
  height: 100px;
  margin-bottom: 20px;
  margin-top: 2%;
}

#about {
  height: 350px;
}
.about_text {
  margin-top: 5%;
}
.form {
  margin: auto;
  margin-top: 5%;
  width: 50%;
  height: 300px;
  background-color: brown;
}

.btn {
  margin-top: 2%;
  margin-left: -1.5%;
}

.section_footer_one {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 119);
}
.section_footer_tow {
  color: white;
  width: 100%;
  height: 60px;
  background-color: rgb(0, 0, 209);
  text-align: center;
  line-height: 50px;
}
